/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4EB1BA;
}

li {
    display: inline-block;
    height: 32px;
    padding: 12px 20px 15px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

.navbar {
    background-color: #222930;
    color: #87F7FE;
}

hr {
    background-color: #E9E9E9;
    height: 6px;
}

.text {
    display: flex;
    justify-content: center;
}

textarea {
    margin-top: 40px;
    border-radius: 13px;
    font-size: 20px;
    outline: none;
    padding: 13px;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid white;
    word-spacing: -3px;

}

.btnBox {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    background-color: #05386b;
    color: #5cdb95;
    border-radius: 10px;
    padding: 10px;
    font-size: 19px;
    font-weight: 800;
    border: 2px solid white;
    margin: 20px 161px;
}

.all-notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.notePack {
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
}

.note {
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 14px;
    margin-left: 50px;
    margin-right: 50px;
}

.noteTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    background-color: #222930;
    border-radius: 14px 14px 0 0;
    color: #25D366;
    font-size: 25px;
}

#noteTitke.noteTitle {
    margin: 0;
    padding: 0;
}

.noteBody {
    font-size: 30px;
    height: 220px;
    padding: 15px;
}