/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4EB1BA;
}

li {
    display: inline-block;
    height: 32px;
    padding: 12px 20px 15px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

.navbar {
    background-color: #222930;
    color: #87F7FE;
}

hr {
    background-color: #E9E9E9;
    height: 6px;
}

.text {
    display: flex;
    justify-content: center;
}

textarea {
    margin-top: 40px;
    border-radius: 13px;
    font-size: 20px;
    outline: none;
    padding: 13px;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid white;
    word-spacing: -3px;

}

.btnBox {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    background-color: #05386b;
    /* color: #659DBD; */
    color: #5cdb95;
    border-radius: 10px;
    padding: 10px;
    margin: 13px;
    font-size: 19px;
    font-weight: 800;
    border: 2px solid white;
}